body {
  font: 14px "Century Gothic", Futura, sans-serif;
  text-align: center;
  margin: 0 auto !important;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom right, teal, white);
}

ol, ul {
  padding-left: 0px;
}

.welcome-text {
  margin: 5px;
}

.welcome-box {
  height: 70vh;
  width: 50vw;
  top: 200;
  border: 5px solid green;
  padding: 10px;
  margin: 0 auto;
  position: absolute;
  top: 10%;
  left: 25%;
  /* margin-top: 30%; */
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 4vw;
  font-weight: bold;
  line-height: 5vw;
  height: 5vw;
  text-align: center;
  width: 5vw;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  position: absolute;
  top: 10%;
  left: 42.5vw;
}

.game-info {
  margin-left: 0px;
}
